<%- if params[:q] -%>
  <p>You specified <%= params[:q] %></p>
<%- end -%>
<%- if @last_registration -%>
  <p>You've already previously registered in spot number <%= @last_registration.spot_number %></p>
<%- end -%>
<%- if @parking_registration.errors.size > 0 -%>
  <ul class="errors">
    <%- @parking_registration.errors.full_messages.each do |message| -%>
      <li><%= message %></li>
    <%- end -%>
  </ul>
<%- end -%>

<%= form_for @parking_registration do |f| %>
  <div>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>

  <div>
    <%= f.label :email %>
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :spot_number %>
    <%= f.number_field :spot_number %>
  </div>

  <div>
    <%= f.label :location_id %>
    <%= f.collection_select :location_id,
      Location.all,
      :id,
      :name,
      prompt: true %>
  </div>

  <%= f.submit 'Register' %>
<%- end -%>
